@import "../../styles/apx.scss";
@import "../../styles/mixins.scss";

.period-dates {

  &__container {

    display: flex;
    flex-direction: column;
    gap: $apx-m-65;
    margin-bottom: $apx-m-20;

    @include desktop { 
      
      position: absolute;
      top: $apx-150;
      left: -$apx-240;
      margin-bottom: 0;
    
    }

  }

  &__dates {

    display: flex;
    gap: $apx-m-30;
    font-weight: 700;
    font-size: $apx-m-56;
    letter-spacing: -$apx-m-1;

    @include desktop { 
      
      gap: $apx-100;
      font-size: $apx-200;
      letter-spacing: -$apx-1; 
    
    }

  }

  &__start { 
    
    color: var(--color-blue); 

    @include desktop { color: var(--color-violet); }
  
  }

  &__end { color: var(--color-pink); }

  &__line {

    width: 86%;
    height: $apx-m-1;
    background-color: var(--color-grey);

    @include desktop { display: none; }

  }

}