@import "../../styles/apx.scss";
@import "../../styles/mixins.scss";

.history {

  &__container { 
    
    position: relative;
    padding: $apx-m-59 $apx-m-27 $apx-m-59 $apx-m-20; 
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    z-index: 0;

    @include desktop { padding: 0 $apx-160 0 $apx-320; }
  
  }

  &__wrapper {

    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;

    @include desktop { padding: $apx-170 0 $apx-104 $apx-80; }

  }

  &__title {

    margin-bottom: $apx-m-56;
    max-width: $apx-m-125;
    color: var(--color-text);
    font-weight: 700;
    font-size: $apx-m-20;
    line-height: 1.2;

    @include desktop { 
      
      margin-bottom: $apx-494;
      max-width: $apx-355;
      font-size: $apx-56; 
    
    }

  }

  &__dates {

    @include desktop { display: none; }

  }

  &__line {

    display: none;
    position: absolute;
    background-color: var(--color-text);
    opacity: 0.1;
    z-index: 1;

    @include desktop { display: block; }

    &--vertical { 

      width: $apx-1;
      height: 100%;

    }

    &--left {

      top: 0;
      left: $apx-320;

    }

    &--central {

      top: 0;
      left: $apx-1080;

    }

    &--right {

      top: 0;
      left: $apx-1760;

    }

    &--horizontal {

      width: 75vw;
      height: $apx-1;
      top: $apx-530;
      left: $apx-320;

    }

  }
  
}
